{% extends 'vasir_site/base.html' %}

{% block site_content %}
<div id='about_page_about_wrapper'>
    <h2>About Me</h2>
    <img src='/static/vasir/img/erikhazzard.jpg' 
        alt='Erik Hazzard'
        width=227 width=273 />
    My name is <strong>Erik Hazzard</strong> and I'm the lead web developer for the Florida Resources and Environmental Analysis Center, a GIS shop based in Tallahassee, Florida.  I spend the majority of my time being python and javascript developer, making heavy use of Django and OpenLayers - but I often write code in other languages. 
    <br />
    <br />
    My passions include game development, web development, and open source software.  I also enjoy writing, reading fantasy and scifi books, sunflower seeds, hacking, singing in the shower, making bad music, and occasionally cooking.     <br />
    <br />
    I write about game development, web design, programming, and other tech-related things at my <a href='/blog/' 
    title="Erik Hazzard's blog" rel='nofollow'>blog</a>. 
    <br /><br />
    My latest projects, tinkerings, and things I'm working on can be found on the 
        <a href='/dev/' title="Erik Hazzard's coding stuff"
            rel='nofollow'>dev page</a> or at my 
        <a href='http://github.com/enoex/'
            title="Erik Hazzard's github page" rel='nofollow'>
            github page</a>.  
    <div class='clear'></div>
</div>

<div id='about_page_resume_wrapper' style='display:none;'>
    <h2>Resume</h2>
    My resume - some of the things I've accomplished in a more formal format. <br />
    <br />
    <a href='/static/vasir/pdf/resume.pdf'
        title="Erik Hazzard's Resume">
        PDF Format
    </a> | 
    <a href='/resume/'
        title="Erik Hazzard's Resume in HTML format">
        HTML Format
    </a>
</div>
<div class='clear'></div>
{% endblock site_content %}
