{% extends 'vasir_site/base.html' %}

{% block head_title %}
    OpenLayers Book | 
{% endblock head_title %}
{% block site_content %}
<div class='dev_page_project_wrapper'>
    <h2>OpenLayers Book</h2>
    <h3>OpenLayers -OpenLayers 2.10 Beginner's Guide </h3>
    The aim of this book is to provide a guide for beginners and also serve as a reference (but not a replacement for the OpenLayers docs).  We use examples throughout the book to deomstrate OpenLayers concepts.  This site will serve as extension for the OpenLayers book and contain code samples, error fixes, and other related things.  This OpenLayers book will be available in early March 2011.
    <br /><br />
    Published by Packt Publishing.  
        <a href='https://www.packtpub.com/openlayers-2-1-javascript-web-mapping-library-beginners-guide/book'
            title='OpenLayers Book | Erik Hazzard'
            rel='nofollow'>Preorder my OpenLayers Book</a>
</div>
{% endblock site_content %}
